# Created by https://www.toptal.com/developers/gitignore/api/react,dotnetcore
# Edit at https://www.toptal.com/developers/gitignore?templates=react,dotnetcore

# Custom
localhost-key.pem
localhost.pem
.env.development.local
appsettings.Development.json

### DotnetCore ###
# .NET Core build folders
bin/
obj/

# Common node modules locations
/node_modules
/wwwroot/node_modules

### react ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*
ssl

node_modules
bower_components

*.sublime*

psd
thumb
sketch

# End of https://www.toptal.com/developers/gitignore/api/react,dotnetcore
.fake

build
