.wrapper {
  position: relative;
}

.gauge {
  width: 160px;
  height: 100%
}

.value {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  font-size: 2rem;
  transform: translate(-50%, -50%);
  width: 200px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .gauge {
    width: 100%;
    max-height: 400px;
  }
  .value {
    font-size: 3rem;
  }
}
